<div class="row">
  <div class="col-md-12">
    <img src="#" alt="" class="img-responsive" style="max-height: 300px">
  </div>
</div>
<div class="row">
  <div class="col-md-12"><h1>Rig Name</h1></div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div
      class="btn-group">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Rig <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#" style="cursor: pointer;">To Cart</a></li>
        <li><a href="#" style="cursor: pointer;">Edit Rig</a></li>
        <li><a href="#" style="cursor: pointer;">Delete Rig</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Rig Description
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Parts
  </div>
</div>